.three-columns {
    background-color: #F7F7F7;
    margin-top: 50px;

    .columns-inner {
        max-width: 940px;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;

        .column {
            width: 250px;
            height: 210px;

            .column-h1{
                margin-block-start: 0;
                margin-block-end: 0;
                font-size: 24px;
                font-weight: normal;
                
                .h1-green {
                    color: $green;
                }
            }
            
            .columns-p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-block-start: 0.5em;
                margin-block-end: 0.5em;
                line-height: 20px;
            }
            
            .columns-btn {
                @include more-button;
                float: none;
                margin: 0;
            }
        }
    }
}

.pie-image {
    position: relative;
    top: -13px;
    left: -12px;
}

.lab-image-main {
    position: relative;
    left: 8px;
}

.lab-image {
    position: relative;
    top: -25px;
    left: -15px;
}

.code-image {
    position: relative;
    top: -9px;
    left: -23px;
}

@media only screen and (max-width: 900px) {
    .columns-inner {
        justify-content: space-evenly;

        .column {
            height: 200px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .column {
        width: 230px;

        .columns-p {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .columns-inner {
        flex-direction: column;

        .column {
            margin: auto;
        }
    }
}